:root{
    --textheader-color:#ffffff;
    --bgheader-color: #131a28 ;
    /* --bgsearch-color:; */
    /* --textsearch-color:; */
}

.dark-theme{

    --textheader-color:#131a28;
    --bgheader-color:#ffffff;
    /* --bgsearch-color:; */
    /* --textsearch-color:; */
}


*{
    font-family: "Roboto","HelveticaNeue-Light",sans-serif;
}

body{
    background-color:var(--bgheader-color);
    margin:auto;
    padding: 0%;
    color:var(--textheader-color);
}

/* .mydark{
    background-color: white;
    color: rgb(8, 8, 8);
} */
       
       /* Header Section */
header{
    height:80px;
    background-color:var(--bgheader-color);

}

.navHeight{
    height: 80px;
    background-color:var(--bgheader-color);
}

.navList{
    margin-top:13px;
    font-size: 18px;
}

.loginList{
    margin-top:10px;
    font-size: 18px;

}

.mode > img{
    height: 70px;
    width: 70px;
    border-radius: 100%;
}
/* .mode{
    background: #131a28;
    margin-left: 10%;
} */

#icon{
    margin-left:47%;
    margin-top:23px;
    height:30px;
    width:30px;
    cursor:pointer;
}


    /* Coupon code */

#coupon{
    height:600px;
    width:500px;
    background-image:url('image/hotstar-offers.jpg');
    background-repeat: no-repeat;
    background-size: 100% 300px ;
    margin-left:35%;
    position:absolute;
    z-index:100;
    margin-top:-75%;
    visibility: hidden;
}
#couponButton{
        height:25px;
        width:25px;
        border:0;
        background-color:gray;
        color:white;
        border-radius:0px;
        margin:5px;
        font-size:20px;
        cursor:pointer;
        transition:all 200ms ease;
    
}
.location{
    background-color: #131a28;
    border: none;
}
.location > img {
    height: 45px;
    width: 41px;
    margin-right: 1px;
    margin-top: -37px;
    border-radius: 100%;
}
    
    /* Crousal Section */
    .carouselHeight{
        height:400px;
        width:100%;
    }

    .item{
        height:400px;
    }
    .item>img{
        width: 100%;
    }  

    /* Grid Size */

    .main{
        margin-left:4%;
        margin-bottom:2%;
        /* border: 2px solid red; */
        width:95%;
    }
    
    .heading > span{
        font-size:25px;
        margin-top:10px;
        color:var(--textheader-color);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        position: absolute;
    }

    .gridSize{
        /* position:relative; */
        height:230px;
        width:11%;
        /* background-color: aqua; */
        margin-left:1%;
        /* border:2px solid yellow;  */
        margin-top:4%;
    }

    .gridSize > .imgSize{
        height:228px;
        width:124%;
        
        margin-left:-12%;
        /* margin-right:4px; */
    }
 
    .gridSize > .imgSize:hover{
        transform: scale(1.05);
    }
 
/* //footer */
 .container-fluid{
    margin: auto;
    /* background-color: #77e47e; */
    width: 96%;
 }
.contentFoot{
    height:150px;
    width:50%;
    /* border: 2px solid red; */
    margin-left:0%;
    color:var(--textheader-color);
}

.contentFoot > span{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin-left:2%;
    /* font-weight: bold; */
}

.contentFoot >  p{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left:2%;
    margin-top:3%;
}

.contactFoot{
    height:150px;
    width:25%;
    /* border: 2px solid red; */
    color:var(--textheader-color);
    text-align: center;
}

.contactFoot > span{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

.icon{
    margin-top:8%;
    margin-right:6%;
}

.appFoot{
    height:150px;
    width:20%;
    /* border:2px solid red; */
    color:var(--textheader-color);
    text-align: center;
}

.appFoot > span{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.icon>img{
    border-radius: 40px;
}
